<!doctype html>
<html lang="en">

<head>
    <title>Registration Form</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.css")}}>
     <link rel="stylesheet" href={{ url_for('static', filename="css/signin.css")}}>
</head>

<body class="text-center">

    <form action="/register" method="POST"  class="form-signin input-group-sm">
        <!-- Email  -->
        <label for="email_input" class="sr-only">Email:</label>
        <input type="email" name="email" id="email_input" class="form-control mb-2 border-0 rounded-sm" placeholder="Email:" required autofocus>
        <!-- First Name -->
        <label for="first_name_input" class="sr-only">First Name:</label>
        <input type="text" name="first_name" id="first_name_input" class="form-control mb-2 border-0 rounded-sm" placeholder="First Name:" required autofocus>
        <!-- Last Name -->
        <label for="last_name_input" class="sr-only">Last Name:</label>
        <input type="text" name="last_name" id="last_name_input" class="form-control mb-2 border-0 rounded-sm" placeholder="Last Name:" required autofocus>
        <!-- Password -->
        <label for="password_input" class="sr-only">Password:</label>
        <input type="password" name="password" id="password_input" class="form-control mb-2 border-0 rounded-sm" placeholder="Password:">
        <!-- Confirm Password -->
        <label for="confirm_password_input" class="sr-only">Confirmed Password:</label>
        <input type="password" name="password" id="password_input" class="form-control mb-2 border-0 rounded-sm" placeholder="Confirmed Password:">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>